<div class="card mb-3">
    <div class="row g-0 align-items-center">
        <div class="col-md-4">
            <img src="https://via.placeholder.com/150" class="img-fluid rounded-start user-image" [alt]="miEmpresa.nombre">
        </div>
        <div class="col-md-8 d-flex flex-column justify-content-between p-3">
            <div>
                <h6 class="card-title">{{miEmpresa.cif}} {{miEmpresa.direccion}} {{miEmpresa.pais}}</h6>
            </div>
            <!--<div class="mt-2 d-flex justify-content-end">
                <app-botonera [parent]="'card'" [_id]="miEmpresa._id"></app-botonera>
            </div>-->
        </div>
    </div>
</div>
