<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <!--<a class="navbar-brand" [routerLink]="['/']">Reto Grupo 4 DAW</a>-->
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="images/jobrocketLogo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
    </a>
    

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Inicio</a>
        </li>

        <!--@if (!(isLoggedIn() && usuario()?.rol === 'EMPRESA')) {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']" routerLinkActive="active">Registro</a>
        </li>
      }-->

        @if (isLoggedIn()) {
        <li class="nav-item">
          <a class="nav-link disabled">
            Bienvenido {{ usuario()?.rol }}, {{ usuario()?.nombre }}
          </a>
        </li>

        @if (usuario()?.rol === 'ADMON') {
          <li class="nav-item">
            <a class="btn btn-outline-light navbar-btn" [routerLink]="['/empresas/nueva']">🏢 Alta Empresa</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light navbar-btn" [routerLink]="['/categorias/lista']">🗂️ Alta Categoría</a>
          </li>
        }
        
        @if (usuario()?.rol === 'ADMON' || usuario()?.rol === 'CLIENTE') {
          <li class="nav-item">
            <a class="btn btn-outline-light navbar-btn" [routerLink]="['/registro']">🧍 Alta Usuario</a>
          </li>
        }
        
        @if (usuario()?.rol === 'ADMON') {
          <li class="nav-item">
            <button class="btn btn-outline-light navbar-btn" [routerLink]="['/usuarios']">🧍‍♂️ Baja Usuario</button>
          </li>
        }
        

        <!-- EMPRESA -->
        @if (usuario()?.rol === 'EMPRESA') {
        <li class="nav-item">
          <a class="btn btn-outline-light navbar-btn" [routerLink]="['/vacantes/todas']">📋 Vacantes</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light navbar-btn" [routerLink]="['/empresas/editar', usuario()?.idEmpresa]">✏️
            Editar Empresa</a>
        </li>
        }

        <!-- CLIENTE -->
        @if (usuario()?.rol === 'CLIENTE') {
        <li class="nav-item">
          <a class="btn btn-outline-light navbar-btn" [routerLink]="['/solicitudes/usuario']">📨 Solicitudes</a>
        </li>
        }


        <!-- LOGOUT -->
        <li class="nav-item">
          <button class="btn btn-outline-light navbar-btn" (click)="logout()">🚪 Logout</button>
        </li>

        } @else {
        <li class="nav-item">
          <a class="btn btn-outline-light navbar-btn" [routerLink]="['/login']">Login</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>