<section class="container mt-5">
  <h3 class="text-center text-primary">Listado de Categorías</h3>
  <hr />

  <div class="d-flex justify-content-end mb-3">
    <a class="btn btn-outline-primary navbar-btn" [routerLink]="['/categorias/nueva']">➕ Nueva Categoría</a>
  </div>
  

  @if (categorias.length > 0) {
  <table class="table table-striped shadow-sm mt-3">
    <thead class="table-dark">
      <tr>
        <!--<th>ID</th>-->
        <th>📂 Nombre</th>
        <th style="width: 180px;">⚙️ Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (categoria of categorias; track categoria.id) {
      <tr>
        <!--<td>{{ categoria.id }}</td>-->
        <td>{{ categoria.nombre }}</td>
        <td>
          <a class="btn btn-sm btn-outline-warning me-2" [routerLink]="['/categorias/editar', categoria.id]">Editar</a>
          <button class="btn btn-sm btn-outline-danger" (click)="eliminarCategoria(categoria.id)">Eliminar</button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="text-end mt-4">
    <button class="btn btn-outline-secondary" [routerLink]="['/admon']" type="button">← Volver</button>
  </div>

  } @else {
  <div class="alert alert-info mt-4">
    ℹ️ No hay categorías registradas.
  </div>
  }
</section>
