<section class="registro-wrapper">
  <div class="registro-container card shadow p-4">
    <h3 class="text-center mb-3">{{ tipo }} Usuario</h3>
    <hr />

    <form [formGroup]="usuariosForm" (ngSubmit)="getDataForm()">
      <div class="mb-3">
        <label for="nombre" class="form-label">👤 Nombre</label>
        <input type="text" id="nombre" class="form-control" formControlName="nombre" />
      </div>

      <div class="mb-3">
        <label for="apellidos" class="form-label">🧑‍🤝‍🧑 Apellidos</label>
        <input type="text" id="apellidos" class="form-control" formControlName="apellidos" />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">📧 Email</label>
        <input type="email" id="email" class="form-control" formControlName="email" />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">🔒 Contraseña</label>
        <input type="password" id="password" class="form-control" formControlName="password" />
      </div>

      <!-- Oculto visualmente -->
      <input type="hidden" formControlName="rol" />
      <input type="hidden" formControlName="enabled" />

      <div class="d-flex justify-content-between mt-4">
        <button class="btn btn-outline-secondary" [routerLink]="[volverPath]" type="button">
          ← Volver
        </button>

        <button type="submit" class="btn btn-primary" [disabled]="!usuariosForm.valid">
          Registrar
        </button>
      </div>
    </form>
  </div>
</section>
